<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>
        about my page
    </h1>
    <h2>
        localhost:8000
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolorum numquam nihil possimus sapiente commodi tempore quisquam minima quos ad enim asperiores incidunt, 
        voluptatum perspiciatis reiciendis, nemo vel. 
        Veritatis, vero facilis.
    </p>

</body>
</html>